
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Datos personales</h3>
        <form action="Persona/persona" method="post">
            <label>Nombre: <input type="text" name="nombre" value=""></label><br/>
            <label>Apellido: <input type="text" name="apellido" value=""></label><br />
            <label>Cedula: <input type="text" name="id" value=""></label><br />
            <input type="submit" name="Enviar" value="Enviar">
        </form>
    </div>
</body>
</html>
